<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="src/css/style.css">
  <link rel="stylesheet" href="src/css/end.css">
  <title>The End</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link href="https://fonts.cdnfonts.com/css/minecraftia" rel="stylesheet">
</head>

<body>
  <div id="app">
    <header class="header">
      <div class="logo">
        <a href="/index.html"><img src="./src/assets/images/logo.png" class="logo" alt=""></a>
      </div>
      <div class="buttons">
        <a href="/overworld.html"><div class="button">OverWorld</div></a>
        <a href="/nether.html"><div class="button">Nether</div></a>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="title">
          <h1>Principais personagens do mundo final, The End!</h1>
        </div>
        <div class="carregando" v-if="loading">Carregando...</div>

        <div class="character" v-for="(character, index) in characters" :key="index">
          <div class="image-wrapper">
            <div class="image-shadow"></div>
            <div class="image">
              <img :src="character.image" class="character-image" :alt="character.name">
            </div>
          </div>
          <div class="character-title">
            <h2 class="name-character">{{ character.name }}</h2>
          </div>
          <div class="character-description">
            <p class="description-character">{{ character.description }}</p>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script>
    const { createApp, ref, onMounted } = Vue;

    createApp({
      setup() {
        const characters = ref([]);
        const loading = ref(true);

        onMounted(async () => {
          try {
            const res = await fetch('./src/end.json');
            characters.value = await res.json();
          } catch (erro) {
            console.error("Erro ao carregar JSON:", erro);
          } finally {
            loading.value = false;
          }
        });

        return { characters, loading };
      }
    }).mount('#app');
  </script>
</body>

</html>
